<ng-container>
  <button type="button" class="btn text-white" (click)="get500Error()">
    Test 500 Error
  </button>
  <button type="button" class="btn text-white" (click)="get400Error()">
    Test 400 Error
  </button>
  <button type="button" class="btn text-white" (click)="get404Error()">
    Test 404 Error
  </button>
  <button type="button" class="btn text-white" (click)="get401Error()">
    Test 401 Error
  </button>
  <button
    type="button"
    class="btn text-white"
    (click)="get400ValidationError()"
  >
    Test 400 Validation Error
  </button>
</ng-container>
