.logo {
  height: 3em;
  width: 3em;
  margin-right: 0.2em;
}

.loginBtn,
.alert {
  background-color: var(--primary);
  color: var(--white);
}

.dropdown-menu {
  left: -70px !important;
}

a.dropdown-item:active {
  background-color: transparent;
  color: var(--white);
}

#navbarSupportedContent {
  z-index: 100;
  background-color: var(--off-white);
  height: 100%;
}

.navbar-toggler {
  border: none;
  padding: 0 !important;
}

.nav-link svg,
.modal-header h5,
.nav-link:hover,
.dropdown-toggle,
.dropdown-menu li a:hover,
.welcome:hover,
.navbar-toggler svg {
  color: var(--primary) !important;
}

@media only screen and (max-width: 350px) {
  .logo {
    height: 2em;
    width: 2em;
  }

  .navbar-brand {
    font-size: 1em;
  }

  .navbar-collapse {
    margin-top: 0.5em;
  }
}
