input {
  border: 2px solid rgba(79, 70, 229, 1);
}

svg {
  height: 1.5em;
  width: 1.5em;
  vertical-align: top;
}

.logo {
  height: 3em;
  width: 3em;
  margin-right: 0.2em;
}

.loginBtn,
.alert {
  background-color: rgba(79, 70, 229, 1) !important;
  color: white;
}

a.dropdown-item:active {
  background-color: transparent;
  color: white;
}

#navbarSupportedContent {
  z-index: 100;
  background-color: #f8f9fa;
  height: 100%;
}

.nav-link svg,
.modal-header h5,
.nav-link:hover,
.dropdown-toggle,
.dropdown-menu li a:hover,
.welcome:hover {
  color: rgba(79, 70, 229, 1) !important;
}

@media only screen and (max-width: 350px) {
  .logo {
    height: 2em;
    width: 2em;
  }

  .navbar-brand {
    font-size: 1em;
  }

  .navbar-collapse {
    margin-top: 0.5em;
  }
}
