<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<!-- Brand / Logo Starts Here -->
		<a class="navbar-brand">MyDotNETApp</a>
		<!-- Brand / Logo Ends Here -->

		<!-- Collapsible Navbar Starts Here -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
		<!-- Collapsible Navbar Ends Here -->

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<!-- Nav Links Starts Here -->
			<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link">Matches</a>
				</li>
				<li class="nav-item">
					<a class="nav-link">Lists</a>
				</li>
				<li class="nav-item">
					<a class="nav-link">Messages</a>
				</li>
			</ul>
			<!-- Nav Links Ends Here -->

			<!-- Dropdown Starts Here -->
			<div *ngIf="loggedIn" class="dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
					aria-expanded="false">
					Welcome user
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item">Edit Profile</a></li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li><a class="dropdown-item" (click)="logout()">Logout</a></li>
				</ul>
			</div>
			<!-- Dropdown Ends Here -->

			<!-- Login Button Starts Here -->
			<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#loginModal">
        Log in
      </button>
			<!-- Login Button Starts Here -->
		</div>
	</div>
	<!-- Login Modal Starts Here -->
	<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="loginModalLabel">LOG IN</h5>
					<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form #loginForm="ngForm" class="w-100" (ngSubmit)="login()" autocomplete="off">
						<div class="form-floating mb-4">
							<input
                name="username"
                [(ngModel)]="model.username"
                type="text"
                class="form-control"
                id="floatingInput"
                placeholder="Username"
                required>
							<label for="floatingInput">Username</label>
						</div>
						<div class="form-floating mb-4">
							<input
                name="password"
                [(ngModel)]="model.password"
                type="password"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
                required>
							<label for="floatingPassword">Password</label>
						</div>
						<div class="d-grid gap-2">
							<button class=" btn btn-primary" type="submit">LOG IN</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Login Modal Ends Here -->
</nav>