:root {
  --primary: rgba(79, 70, 229, 1);
  --off-white: #f8f9fa;
  --white: white;
}

* {
  font-family: Nunito;
}

body {
  background-color: var(--off-white) !important;
}

a:hover {
  cursor: pointer;
}

input {
  border: 2px solid var(--primary) !important;
}

svg {
  height: 1.5em;
  width: 1.5em;
  vertical-align: top;
}
