.registerBtn,
.alert {
  background-color: var(--primary);
  color: var(--white);
}

.registerBtn svg {
  height: 1.5em;
  width: 1.5em;
  vertical-align: top;
}

.container {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.lead,
.modal-header h5 {
  color: var(--primary);
}
